html,
body {
    height: 100%;
    margin: 0 auto;
}

body {
    @extend %font-main;
    @include fonts(18px, 400, 28px);    
    color: $default;    
}

h1 {
    @include fonts(150px, 800, 176px);
}

h2 {
     @include fonts(144px, 800, 173px);   
}

h3 {
    @include fonts(96px, 700, 116px);
}

h4 {
    @include fonts(64px, 700, 82px);
}

h5 {
    @include fonts(20px, 700, 30px);
}

h6 {
    @include fonts(15px, 500, 20px);
}

a {
    color: $default; 
    cursor: pointer;   
}

a:hover {
    color: $hover; 
    cursor: pointer;
    opacity: 0.8;
    text-decoration: none;
    transition: 0.4s;    
}

button {
    border: none;
    cursor: pointer;
    transition-duration: 0.4s;
}

[tabindex]:focus {
    box-shadow: 0 0 2px 2px #51a7e8;
    outline: none;
}

[tabindex]:focus:not(:focus-visible) {
    box-shadow: none;
}

.container {
    max-width: 1600px;
    margin-right: 160px;
    margin-left: 160px;
}

.container-fluid {
    max-width: 1920px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    max-width: 1920px;
}

.link-wth-arrow{
    @include fonts(18px, 500, 30px);
        color: $span;
        text-transform: uppercase;
        position: relative;       
        &::after {
           content: "";
           background-image: url(../img/arrow-right.svg);
           position: absolute;
           background-repeat: no-repeat;
           width: 24px;
           height: 24px;
           top: 0px;
           transform: translateX(11px);
        }
        &:hover {
            &::after {
                background-image: url(../img/arrow-right-hover.svg);
                transition: 0.4s;
            }
        }
}