$default: #191718;
$span: #FF48F7;
$smallBtnBG: #FFD6FD;
$colorText: #FFFFFF;
$bgColorDisabled: #d2c9c9;
$hover: #0a0a0a;
$mainSloganColor: #FFE7FD;
$yellowStar: #FFB801;
$cirkleBgColor: #FFD1FD;
$btnShadowDark: #E5E5E5;
$btnShadowPink: #ffdefd;
$modalBg: #FFEAFE;

%font-main {
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

@mixin image($image, $height, $width, $top, $left) {    
    content: $image;
    position: absolute;
    height: $height;
    width: $width;
    top: $top;
    left: $left;
}

@mixin fonts($fontSize, $fontWeight, $lineHeight) {
    font-size: $fontSize;
    font-weight: $fontWeight;
    line-height: $lineHeight;
}

// @mixin button-arrow($bg,
//     $borderWidth,
//     $borderColor,
//     $width,
//     $height,
//     $borderRadius,
//     $bgColor,
//     $boxShadowColor) {
//     background: $bg;
//     background-repeat: no-repeat;
//     box-sizing: border-box;
//     border: $borderWidth solid $borderColor;
//     width: $width;
//     height: $height;
//     border-radius: $borderRadius;
//     background-color: $bgColor;
//     background-position: center;
//     cursor: url(../img/icons/cursor-btn-arrow.png), pointer;

//     &:hover {
//         transform: scaleY(-1);
//         box-shadow: 0 3px 10px 0 $boxShadowColor;
//         transition: all 0.3s ease;
//     }
// }

@mixin button($textColor,
    $borderColor,
    $width,
    $bgColor,    
    $bgColorHover,
    $shadowColor,
    $textColorHover,
    $bgDisabled) {
    color: $textColor;
    box-sizing: border-box;
    border: 1px solid $borderColor;
    width: $width;
    height: 58px;
    border-radius: 45px;
    background-color: $bgColor;    
    text-transform: uppercase;
    box-shadow: 2px 12px 13px -2px $shadowColor;
    transition: all 0.5s;
    &:hover {
        background-color: $bgColorHover;
        color: $textColorHover;        
    }
    &:disabled {
        background-color: $bgDisabled;
        opacity: 0.4;
    }
}

@mixin hr($lineColor, $width) {
    position: relative;    
        &::before {
            content: "";
            position: absolute;
            border-bottom: 2px solid $lineColor;
            width: $width;
            left: -8px;
            bottom: -12px;
        }
}

@mixin animate($animation, $duration, $times) {
    animation: $animation $duration $times;
}

@mixin keyframes($name) {
    @keyframes #{$name} {
        @content;
    }
}