@import "vars";
@import "fonts";
@import "reset";
@import "global";



#ourStory{
    padding-top: 192px;
    margin-top: -192px;
}
#workouts{
    padding-top: 240px;
    margin-top: -240px;
}
#products,
#classes{
    padding-top: 131px;
    margin-top: -131px;
}
#clubs{
    padding-top: 218px;
    margin-top: -218px;
}
.hidden{
    display: none;
}


.header{ 
    position: sticky;
    min-height: 118px;
    top: 0;
    z-index: 4; 
    background-image: url(../img/bg.png);    
    &__inner{
        display: flex;
        align-items: center; 
        margin-top: 41px; 
        justify-content: space-between;   
    }
    &__button{
        display: none;
    }
         &__logo {
             display: flex;
             width: 100%;
             justify-content: space-between;
             align-items: center;
         }
}

.logo{
    position: relative;
//     @include fonts(30px, 600, 36px);
//     //margin-right: 266px;
//     padding-left: 72px;
     &::before{
         content: "";
         position: absolute;
         border-radius: 50%;
//         border: 6px solid $span;
//         top: -4px;
         left: 18px;
//         width: 38px;
//         height: 38px;
     }
     &::after{        
         content: "";
         position: absolute;
         border-radius: 50%;
//         border: 6px solid $span;
//         top: -4px;
         left: 0px;
//         width: 38px;
//         height: 38px;
     }
}

.menu{
    //margin-right: 232px;
    &__list{
        //display: flex;
        display: none;
    }
    // &__list-item{
    //     margin: 0 30px 0 30px;
    // }
    &__list-link{
        // @include fonts(18px, 500, 22px);
        &:hover{
            @include hr($hover, 130%);
        }        
    }    
}

.button{
    @include button($colorText, $default, 237px, $default, $colorText, $btnShadowDark, $default, $bgColorDisabled); 
    &__arrow{
        background-color: transparent;
    }
}

.open-btn {
    //@include fonts(50px, 700, 50px);
    background-color: transparent;
    color: $default;
}

.close-btn {
    text-decoration: none;
    background: transparent;
    position: absolute;
    right: 0;
    padding-right: 72px;
    @include fonts(50px, 700, 50px);
    color: $default;
}

.subtitle{
    @include fonts(20px,
        600,
        30px);
    text-transform: uppercase;
    color: $span;
    margin-bottom: 15px;
}

.modal{
    &__container-window{
        background-color: $modalBg;
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        &.show-modal{
            display: block;
        }
    }
    &__nav-menu{
        background-color: $modalBg;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        max-width: 100%;
        width: 100%;
        @include keyframes(modalopen) {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }        
        @include animate(modalopen, 1.5s, 1);        
    }
    &__header-menu{
        padding: 50px;
    }
    &__nav-menu-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 100px 0;
    }
    &__list-item{
        margin: 25px 0;
    }
    &__list-link{       
        @include fonts(30px, 500, 22px);        
        &:hover {
            @include hr($hover, 115%);
        }
    }
}
.main{    
    position: relative; 
    // margin-top: 192px;
    &__slogan {
        color: $mainSloganColor;
        position: absolute;
        // width: 802px;               
        // left: 1431px;
        // top: 208px;
        text-transform: uppercase;
        //transform: rotate(-90deg);       
    }
    // &__inner{
    //     display: flex;
    // }
    &__info{
        //width: 700px; 
        position: relative;
        // &::before {
        //     content: url(../img/wave.png);
        //     background-repeat: no-repeat;
        //     position: absolute;
        //     width: 1920px;
        //     height: 415px;
        //     left: -199.53px;
        //     top: 83px;
        //     transform: rotate(-1.73deg);
        // }
    }
    &__title{
        margin-bottom: 30px;        
    }  
    &__text{
        // @include fonts(18px, 500, 30px);
        color: rgba(25, 23, 24, 0.8);
        // margin-bottom: 50px;
        // width: 446px;
        // height: 60px;
    } 
    &__button{
        @include button($colorText, $default, 152px, $default, $colorText, $btnShadowDark, $default, $bgColorDisabled);
        margin-right: 10px; 
        position: relative;       
    }
    &__bg{
        position: relative;
            // &::before{
            //     content: "";
            //     background-color: $span;
            //     border-radius: 50%;
            //     position: absolute;
            //     width: 724px;
            //     height: 724px;
            //     left: -209px;
            //     top: -110px;
            //     z-index: -1;
            // }
            // &::after{
            //     content: url(../img/man.png);
            //     position: absolute;
            //     background-repeat: no-repeat;
            //     background: linear-gradient(115deg, rgba(255, 229, 245, 1) 29%, rgba(255, 254, 251, 1) 88%);
            //     width: 1366px;
            //     height: 1092px;
            //     left: -308px;
            //     top: -260px;
            //     z-index: -1;
            // }
    }
}

.color-span{
    color: $span;
}

.workout{
    &__block{
        background: linear-gradient(180deg, rgba(255, 242, 254, 0.2) 0%, rgba(255, 242, 254, 0.11) 100%);
        border-radius: 20px 20px 0px 0px;
        backdrop-filter: blur(500px);
        // margin-top: 240px;
        // padding: 100px 82px 77px 81px;
    }
    &__block-content{
        display: flex; 
        //margin-bottom: 100px;             
    }
    // &__block-title{
    //     width: 448px;
    //     margin-right: 747px;
    // }
    &__block-btn{
        @include button($span, $span, 251px, $colorText, $span, transparent, $colorText, $span);
        opacity: 0.7;
    }
    &__block-items{
        display: grid;
        // grid-template-columns: repeat(4, 1fr);
        // gap: 39px;
        margin-bottom: 51px;
    }
    &__block-item{
        background: #FFFFFF;
        box-shadow: 0px 50px 100px rgba(194, 183, 194, 0.3);
        border-radius: 20px;
        //padding: 51px 38px 30px 30px;
        position: relative;        
            &::before {
                content: "";
                position: absolute;
                width: 46px;
                height: 46px;
                left: 29px;
                top: 44px;
                background-color: $default;
                border-radius: 50%;
            }            
    }
    &__block-item--muscle{
        &::after{           
            @include image(url(../img/muscule-building.png), 100px, 46px, 24px, 14px);
        }
    }
    &__block-item--workout{
    &::after {
            @include image(url(../img/workout.png), 100px, 46px, 24px, 24px);
        }
    }
    &__block-item--target{
        &::after {
                @include image(url(../img/target.png), 100px, 46px, 24px, 43px);
            }
    }
    &__block-item--cardio{
        &::after {
                @include image(url(../img/cardio.png), 100px, 46px, 24px, 32px);
            }
    }
    // &__block-item--title{        
    //     //margin-bottom: 50px;
    //     // margin-left: 120px;
    // }
    // &__block-item--text{
    //     margin-bottom: 40px;
    // }    
    // &__block-slogan{
    //     margin-left: -90px;
    // }
    // &__block-slogan--title{
    //     // @include fonts(216px, 800, 261px);
    //     // letter-spacing: 0.145em;
    //     background: linear-gradient(90deg, #FFF1FE 1.21%, #FFFAFF 82.36%);
    //     -webkit-background-clip: text;
    //     -webkit-text-fill-color: transparent;
    //     background-clip: text;        
    // }
}

.block {
    &__slogan-title {
            background: linear-gradient(90deg, #FFF1FE 1.21%, #FFFAFF 82.36%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
}

.results{
    &__block{
        position: relative;        
            // &::before {
            //     content: url(../img/bg-results-woman.png);
            //     position: absolute;
            //     background-repeat: no-repeat;
            //     width: 886px;
            //     height: 1124px;
            //     left: 783.85px;
            //     top: -181px;
            //     z-index: 1;
            // }
            // &::after{
            //     content: url(../img/bg-results-square.png);
            //     position: absolute; 
            //     background-repeat: no-repeat;               
            //     left: 997px;
            //     top: -696px;
            //     z-index: -1;                
            // }
    } 
    &__block-box{
        position: relative;
        // &::before{
        //     content: url(../img/bg-results-square-dark.png);
        //     position: absolute;
        //     background-repeat: no-repeat;
        //     right: 0;
        //     margin-right: -160px;
        //     top: -324px;
        //     z-index: 2;
        // }
    }
    &__block-inner{
        display: flex;
        margin-bottom: 60px;
    }
    // &__block-info{
    //     margin-right: 549px;
    // }
    &__block-title{
        //@include fonts(64px, 700, 82px);
        width: 721px;
        //height: 164px;
        margin-top: 15px;
        margin-bottom: 30px;
    }
    // &__block-text{
    //     @include fonts(18px, 500, 30px);
    //     width: 568px;        
    // }
    &__block-trainer{
        // width: 330px;
        // height: 110px;
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(50px);
        border-radius: 20px;
        position: relative;
        //padding: 7px 27px 7px 20px;
        //left: 90px;
        z-index: 3;
        &::before{
            content: "";
            position: absolute;
            background-image: url(../img/avatar-trainer.jpg);
            background-repeat: no-repeat;
            // background-size: auto 96px;
            // width: 96px;
            // height: 96px;
            border-radius: 50%;
            //top: 16px;
        }
    }
    &__block-trainer--title{
        //@include fonts(14px, 400, 30px);
        text-transform: uppercase;
        // padding-top: 23px;
        // padding-left: 115px;
    }
    // &__block-trainer--item{
    //     @include fonts(30px, 600, 30px);
    //     padding-left: 115px;
    // }
    &__block-grid{
        display: grid;
        //grid-template: 58px 122px/568px 342px;
        //gap: 80px;
    }
    &__block-grid--adverts{
        //grid-column: 1/2;
        display: flex;        
    }
    // &__block-grid--adv{
    //     margin-right: 40px;
    // }
    &__block-grid--adv-img{
        margin-bottom: 22px;
    }
    &__block-grid--adv-rating{
        margin-top: 12px;
    }
    &__block-grid--userpics{
        // grid-row: 1/3;
        // grid-column: 2/3;
        background: linear-gradient(149.51deg, rgba(255, 255, 243, 0.9) 0%, rgba(255, 242, 254, 1) 100%);
        backdrop-filter: blur(500px);
        border-radius: 20px;
        //padding: 30px;
        position: relative;
        z-index: 3;
    }
    &__block-grid--userpics-num{
        // @include fonts(36px, 600, 30px);
        color: $span;
        margin-bottom: 16px;
    }
    // &__block-grid--userpics-text{
    //     margin-bottom: 30px;
    // }
    &__block-grid--userpic-img{
        margin-right: -13px;
    }
    &__block-grid--userpic-p{
        @include fonts(14px, 400, 26px);
        width: 66px;
        height: 66px;
        position: absolute;
        //top: 152px;
        left: 190px;
        box-shadow: 0px 0px 20px rgba(255, 28, 255, 0.3);
        border-radius: 50%;
        //display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background: $colorText;
         span {
            color: $span;
            @include fonts(20px, 600, 26px);
        }
    }
    &__block-grid--btns{
        display: flex;
        position: relative;
    }
    &__block-grid--btn{
        margin-right: 30px;
    }
    &__block-grid--btn-play{
        position: relative;
        box-shadow: 2px 22px 13px -2px #ffdefd;
        transition: all 0.4s;
        &::before{
            content: "";
            background-image: url(../img/play-arrow.svg);
            background-repeat: no-repeat;
            width: 32px;
            height: 32px;
            position: absolute;
            //top: 16px;
            left: 32px;            
        }
        &:hover::before{
            background-image: url(../img/play-arrow-hover.svg);
            
        }        
    }
    // &__block-slogan{
    //     margin-top: 58px;
    //     margin-bottom: 13px;
    // }
    // &__block-slogan--title{
    //     @include fonts(180px, 800, 218px);
    //     letter-spacing: 0.145em;
    //     background: linear-gradient(90deg, #FFF1FE 1.21%, #FFFFFF 82.36%);
    //     -webkit-background-clip: text;
    //     -webkit-text-fill-color: transparent;
    //     background-clip: text;        
    // }
}

.play{
    width: 79px;
    height: 58px;
    background: $span;
    border-radius: 26px;
    padding: 16px 13px 13px 20px;
    &:hover{
        background: $colorText;
        border: 1px solid $span;
    }
}

.rating {
    display: flex;
    align-items: flex-end;
    font-size: 30px;
    line-height: 0.75;
    &__body {
        position: relative;
    }
    &__body::before {
        content: '✰✰✰✰✰';
        display: block;        
    }
    &__active {
        position: absolute;
        width: 0%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
    }
    &__active::before {
        content: '★★★★★';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        color: $yellowStar;
    }
    &__items {
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    &__item {
        flex: 0 0 20%;
        height: 100%;
        opacity: 0;
    }
    &__value {
        display: none;
    }
}

.clubMaster{
    &__block{
        display: flex;
        // margin-bottom: 220px;
    }
    &__block-items{
        display: grid;
        // grid-template-columns: repeat(2, 366px);
        // grid-template-rows: repeat(2, 332px);
        // gap: 50px;        
    }
    &__block-item{
        // padding: 46px 30px 30px 30px;        
        border-radius: 20px;
        position: relative;
        // &::before{
        //     content: "";
        //     position: absolute;
        //     width: 90px;
        //     height: 90px;
        //     border-radius: 50%;
        //     background-color: $colorText;
        //     box-shadow: 0px 0px 50px rgba(157, 145, 145, 0.15);
        //     //top: 35px;
        // }
        // &::after{
        //     position: absolute;
        //     @include fonts(40px, 700, 48px);
        //     color: $span;
        //     // top: 55px;
        //     // left: 49px;
        // }
    }
    &__block-item--title{
        display: inline-block;
        margin-left: 20px;
        //margin-bottom: 44px;
        vertical-align: middle;
        max-width: calc(100% - 50px - 2em);
    }
    &__block-item--text{
        margin: 40px 0;
    }    
    &__block-item01{
        background: #F6F4FF;
        // &::after{
        //     content: "01";            
        // }
    }
    &__block-item02{
        background: #F4F7FF;
        // &::after {
        //     content: "02";
        // }
    }
    &__block-item03,
    &__block-item04 {
        background: #FFF4FF;
        // &::after {
        //     content: "03";
        // }
    }
    // &__block-item04{
    //     background: #FFF4F4;
    //     // &::after {
    //     //     content: "04";
    //     // }
    // }
    // &__block-content{
    //     margin-left: 171px;
    // }
    &__block-content-box{
        margin-bottom: 60px;
    }
    &__block-content-box--text{
        margin-top: 30px;        
    }
    &__block-btns{        
        margin-bottom: 80px;
    }
    &__block-btn{
        margin-right: 30px;
    }    
    &__block-content--items{
        //display: grid;
        // grid-template-columns: repeat(3, 200px);
        // grid-template-rows: repeat(1, 128px);
        // gap: 23px;        
    }
    &__block-content--item{
        display: flex;
        align-items: center;
        position: relative;
        box-sizing: border-box;
        background: #FFFFFF;
        background-clip: padding-box;
        box-shadow: 0px 50px 50px rgba(221, 221, 221, 0.25);
        border: 1px solid transparent;
        border-radius: 20px;
        padding: 16px;
        flex-direction: column;
        justify-content: center;
        &::before{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            margin: -1px;
            border-radius: inherit;
            background: linear-gradient(134.44deg, rgba(255, 72, 244, 1), rgba(255, 255, 255, 1), rgba(255, 72, 247, 1));
        }            
    }
    &__block-content--item-title {
        @include fonts(48px, 400, 58px);
    }
}

.circle-wrap {
    display: inline-block;
}
.circle {
    @include fonts(20px, 700, 24px);
    background: $colorText;
    border-radius: 50%;
    box-shadow: 0px 0px 50px rgba(157, 145, 145, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    color: $span;
    height: 50px;
    position: relative;
    width: 50px;
}
.client{
    
     &__block{
        display: none;
        // position: relative;
    //     &::before{
    //         content: url(../img/triangle-slider.png);
    //         position: absolute;
    //         background-repeat: no-repeat;
    //         top: 45px;
    //         left: -200px;
    //     }
    }
     &__content-box{
        // text-align: center;
        // margin-bottom: 20px;
        margin-bottom: 60px;
     }
    &__slider{        
        position: relative;
        overflow: hidden;
    }
    
    &__slides{
        display: flex;
        flex-direction: row;
        height: 100%;
    }
    &__slide-box{
        display: flex;
        //min-width: 100%;

        min-width: 669px;
        position: relative;
    }
    // &__slide-img{
    //     position: absolute;
    //     background-color: $colorText;
    //     top: 1px;
    //     left: 2px;
    //     width: 416px;
    //     height: 375px;
    //     clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    //     -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    //     -moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    // }
    &__slide-inner{
        border: 1px solid $span;
        //border-left: 0;
        //width: 841px;
        position: relative;
        //left: -106px;
        //padding: 74px 58px 37px 117px;
    }
    // &___slide-info{
    //     margin-bottom: 30px;
    // }
    &__slide-text{
        //@include fonts(24px, 500, 38px);
        position: relative;
        &::before{
            content: url(../img/quotes.png);
            position: absolute;
            //top: -30px;
        }
    }
    // &__slide-user-items{
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;
    //     margin: 0 40px;
    // }
    &__slider-control {
        display: flex;
        justify-content: center;
        align-items: center;
        // gap: 150px;
        // margin-top: 72px;
    }
}

.hexagon-box {
    display: none;
}
// .hexagon-box{
//     display: block;
//     position: relative;
//     width: 420px;
//     height: 377.72px;
//     background: $span;
//     box-sizing: border-box;
//     clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
//     -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
//     -moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
             
//     img{
//         position: absolute;
//         background-color: $colorText;
//         top: 12px;
//         left: 18px;
//         width: 380px;
//         height: 349px;
//         clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
//         -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
//         -moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
//     }     
// }

.blog{
    &__block{
        margin-bottom: 340px;
    }
    &__block-title{
        //margin-top: 225px;
        margin-bottom: 100px;
        //text-align: center;
    }
    &__block-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        //justify-content: center;
    }
    &__block-articles{
        position: relative;
        //margin-right: 116px;
    }
    &__block-images{
        max-width: 846px;               
    }
    &__block-img{
        border-radius: 20px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__block-article{
        background: linear-gradient(175.56deg, rgba(226, 186, 168, 1) 0%, rgba(248, 249, 251, 0.3) 100%);
        box-shadow: 0px 50px 100px rgba(154, 144, 154, 0.1);
        backdrop-filter: blur(50px);
        border-radius: 20px;
        //padding: 30px;
        position: absolute;
        // width: 560px;
        // height: 258px;
        // top: 339px;
        // left: 113px;

    }
    &__block-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__block-button{
        //@include button($default, $colorText, 99px, $smallBtnBG, $colorText, transparent, $span, $bgColorDisabled);
        @include button($default, $colorText, 55px, $smallBtnBG, $colorText, transparent, $span, $bgColorDisabled);
        //@include fonts(14px, 600, 40px);
        @include fonts(10px, 600, 30px);
    }
    &__block-author{
        opacity: 0.5;
    }
    // &__block-text{
    //     @include fonts(24px, 500, 35px);
    //     padding: 30px 0;
    // }    
}

.accordion{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(25, 23, 24, 0.2);
    border-bottom: 1px solid rgba(25, 23, 24, 0.2);     
    background: transparent;    
    width: 100%;
    &-title{
        //@include fonts(24px, 500, 35px);
        //padding: 30px 0;
        text-align: left;
        max-width: 478px;
    }
    &-btn{
        cursor: pointer;
        position: relative;
        // width: 60px;
        // height: 60px;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background: $cirkleBgColor;        
        &::after {
            content: "";
            background-image: url(../img/arrow-up-right-accord.png);
            position: absolute;
            background-repeat: no-repeat;
            background-size: cover; 
            width: 100%;
            height: 100%;  
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;         
            // top: 50%;
            // left: 25%;
            // transform: translateY(-50%);
        }
        &:hover {
            background: $span;
            &::after{
                content: url(../img/arrow-up-right-accord-active.png);
            }
        }
    }     
}
 
.accordion.active .accordion-btn{
    background: $span;
    &::after{
        content: url(../img/arrow-up-right-accord-active.png);
    }
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.banner {
    background: $default;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 93px 0;
    &-slogan__title{
        @include fonts(64px, 400, 80px);
        color: $colorText;
        margin-bottom: 24px;
    }
    &-slogan__text{
        color: $colorText; 
        max-width: 479px;       
    }
    &-contact__btn{
        color: $span;
        @include fonts(24px, 600, 30px);
        text-transform: uppercase;
        background: transparent;
        border: none;
        position: relative;
        transition: all 0.5s;
        &::before{
            content: url(../img/btn-arrow-right.png);
            position: absolute;
            background-repeat: no-repeat;
            top: 22px;
        }
        &:hover{
            color: $colorText;            
            &::before{
                content: url(../img/btn-arrow-right-hover.svg);
                transition: 0.5s;
            }
        }
    }
}

.footer{
    margin-top: 168px;    
    &__inner{
        display: flex;
        justify-content: space-between;        
    }
    &__social{
        margin-bottom: 60px;
    }
    &__slogan-text{
        margin: 31px 0 50px;
        max-width: 382px;
    }    
    &__social-items{        
        display: flex;
        margin-right: 16px;
    }
    &__social-item{
        margin-right: 16px;
    }
    &__social-link{
        &:active {
            filter: contrast(153%) brightness(0%) opacity(0.5);
            }
    }
    &__title{
        @include fonts(18px, 500, 22px);
        text-transform: uppercase;
        margin-bottom: 38px;
    }
    &__item{
        margin: 12.5px 0;
    }
    &__link{
        opacity: 0.8;
                
    }
    &__span{
        @include fonts(48px, 400, 58px);
        opacity: 0.8;
    }
    &__daytime{
        @include fonts(18px, 500, 22px);
        opacity: 0.8;
        margin: 12.5px 0;
    }
    &__copyright{
        margin: 35px 0;
    }
    &__block-text{
        display: flex;
        align-items: center;
    }
    &__copyright-list-links{
        display: flex;
        gap: 60px;
    }
}


@media (min-width: 320px) {
    body {
            @include fonts(13px, 400, 25px);
        }
    
        h3 {
            @include fonts(30px, 600, 45px);
        }
        h4 {
            @include fonts(25px, 700, 40px);
        }
        h5 {
            @include fonts(20px, 700, 30px);
        }
    
        h6 {
            @include fonts(15px, 500, 20px);
        }

    #ourStory {
        padding-top: 45px;
        margin-top: -45px;
    }
    .container{
        margin-right: 50px;
        margin-left: 50px;
    }
    .wrapper{        
        background-image: url(../img/bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: auto;
    }
    .logo {
        @include fonts(20px, 500, 36px);  
        padding-left: 53px;
        &::before {                    
            border: 4px solid $span;
            top: 0px;
            width: 25px;
            height: 25px;
        }
        &::after {                    
            border: 4px solid $span;
            top: 0px;
            width: 25px;
            height: 25px;
        }
    }
    .button {
        width: 115px;
        height: 30px;
        font-size: 10px;
    }
    .play {
        height: 30px;
        &::before {
            top: 2px;
        }
    }
    .open-btn {
        @include fonts(35px, 700, 36px);                    
    }
    .main {
        margin-top: 45px;
        &__info{                        
            width: auto;
        }
        &__title{
            @include fonts(30px, 600, 45px);                        
        }
        &__bg {
            display: none;
        }
        &__slogan{
            display: none;
        }
        &__text{
            font-size: 13px;
            line-height: 25px;
            margin-bottom: 25px;
        }
        &__button {
            width: 90px;
            height: 30px;
            font-size: 10px;
        }
    }
    .subtitle {
        font-size: 14px;
    }
    .workout {
        &__block {
            margin-top: 45px;
            padding: 40px 10px;
        }
        &__block-content { 
            flex-direction: column; 
            align-items: center;
            gap: 10px;          
            margin-bottom: 50px;
        }
        &__block-title {
            width: auto;
            margin-right: 0;
        }
        &__block-btn {
            width: 140px;
            height: 30px;
            font-size: 10px;
        }
        &__block-items {
            grid-template-columns: 1fr;
            gap: 5px;
        }
        &__block-item {
            padding: 19px 10px;            
        }
        &__block-item--title {
            margin-bottom: 95px;
            margin-left: 90px;
            
        }
        &__block-item--text {            
            // font-size: 13px;
            // line-height: 25px;                       
            margin-bottom: 10px;            
        } 
        // &__block-slogan {
        //     display: none;
        // }
    } 
    .block{
        &__slogan {
            display: none;
        }
    }
    .link-wth-arrow {
        font-size: 15px;
        // line-height: 25px;        
        &::after {
            //top: -3px;
            top: calc(100% - 21px);
        }
    }
    .results {
        &__block-inner {
            flex-direction: column;
        }
        &__block-title {
            width: auto;
        }
        &__block-trainer {
            width: auto;            
            padding: 7px;
            &::before {
                    background-size: cover;
                    width: 50px;
                    height: 50px;
                }
        }
        &__block-trainer--title {
            font-size: 8px;
            padding-left: 73px;
        }
        &__block-text {
            margin-bottom: 25px;
        }
        &__block-trainer--item {
            @include fonts(20px, 500, 22px);
            padding-left: 73px;
        }
        &__block-grid {
            gap: 25px;
        }
        &__block-grid--btns {
            justify-content: center;
        }
        &__block-grid--adverts{
            flex-direction: column;
            align-items: center;
        }
        &__block-grid--adv {
            margin-bottom: 15px;
        }
        &__block-grid--adv-img {
            margin-bottom: 5px;
        }
        &__block-grid--userpics {
            padding: 20px;
        }
        &__block-grid--userpics-num {
            @include fonts(20px, 600, 15px);
        }
        &__block-grid--userpics-text {
            margin-bottom: 15px;
        }
        &__block-grid--userpic-img{
            display: none;
        }
        &__block-grid--userpic-p {
            display: none;
        }
        // &__block-slogan {
        //     display: none;
        // }
    }
    .clubMaster {
        &__block {
            flex-direction: column-reverse; 
            margin: 3em 0;           
        }
        &__block-items {
            grid-template-columns: 1fr;
            gap: 5px;
        }        
        &__block-item {
            padding: 8px 10px;
            // &::before {
            //     top: 8px;
            // }
            // &::after {
            //     top: 30px;
            //     left: 30px;
            // }
        }
                
        &__block-item--title {
            //margin-left: 107px;
            //margin-bottom: 65px;
        }        
        &__block-btns {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        &__block-btn {
            margin-bottom: 25px;
        }
        &__link-wth-arrow {            
            &::after {
                top: 3px;
            }
        }
        &__block-content--items{
            display: none;
        }
    }
    .blog {
        &__block-title {
            margin-bottom: 60px;
            text-align: left;
        }
        &__block-article {
            width: auto;
            height: auto;
            top: 78px;
            left: 15px;
            right: 15px;
            padding: 1em;
        }
        &__block-header {
            margin-bottom: 10px;
        }
        &__block-button {
            height: 30px;
        }
        &__block-text {
            @include fonts(12px, 500, 16px);
            padding: 0.1em 0;
        }
        &__link-wth-arrow {
            font-size: 10px;
            &::after {
                top: calc(100% - 18px);
            }
        }
        &__block-accordion {
            margin-top: 115px;
        }        
    }
    .accordion {
        &-title {
            @include fonts(15px, 500, 25px);            
            padding: 17px 0; 
            width: fit-content;               
        }
    }
    
}

@media (min-width: 480px) {
    .wrapper {        
        background-position: top left;
        background-size: auto;
    }
    .logo {
        @include fonts(30px, 600, 36px);            
        padding-left: 72px;    
        &::before {
            border: 6px solid $span;
            top: -4px;
            width: 38px;
            height: 38px;
        }    
        &::after {                
            border: 6px solid $span;
            top: -4px;
            width: 38px;
            height: 38px;
            }
    }
    .open-btn {
        @include fonts(50px, 700, 50px);
    }
    .workout {
        &__block-items {
                grid-template-columns: 1fr 1fr;
                gap: 15px;
            }
    }
    .link-wth-arrow {
        font-size: 12px;
        &::after {
            top: calc(100% - 20px);
        }
    }
    .results {
        &__block-grid--btns {
            justify-content: start;
        }
        &__block-grid--adverts {
            flex-direction: row;
            justify-content: space-between;
        }
        &__block-grid--userpics {
            padding: 30px;
            max-width: 342px;
            // grid-row: 1/3;
            // grid-column: 2/3;
        }
        &__block-grid--userpics-num {
            font-size: 36px;
            line-height: 30px;
        }
        &__block-grid--userpic-img {
            display: inline-block;
        }
        &__block-grid--userpic-p {
            display: flex;
            top: 133px;
        }
    }
    .clubMaster {

        &__block-content--items {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            margin-bottom: 40px;
        }
        &__block-content--item-title {
            font-size: 30px;            
            line-height: 40px;
        }
        &__block-content--item-text {
            text-align: center;
        }
        &__block-items {
            grid-template-columns: repeat(2, 1fr);
        }
        // &__block-item {
        //     &::before {
        //         width: 50px;
        //         height: 50px;
        //     }
        // }
        &__block-item--circle {
            &::before {
                    content: "";
                    position: absolute;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background-color: $colorText;
                    box-shadow: 0px 0px 50px rgba(157, 145, 145, 0.15);
                    //top: 35px;
                }
            
                &::after {
                    position: absolute;
                    @include fonts(40px, 700, 48px);
                    color: $span;
                    // top: 55px;
                    // left: 49px;
                }
        }
        
        &__block-btns {
            flex-direction: row;
            margin-bottom: 40px;
        }
        &__link-wth-arrow::after {
            top: 3px;
        }
    }
    .client {
        &__block {
            display: block;
            position: relative;
        }
        &__content-box-text {
            margin-top: 20px;
        }
        // &__slide-box {
        //     left: 191px;
        // }
        &__slide-inner {
            padding: 1.5em;
            
        }
    &__slide-text {
        @include fonts(12px, 500, 22px);
        &::before {
        top: -1em;
        left: -3em;
        }
    }
    &__slider-control {
        gap: 3em;
        margin-top: 30px;
    }
}
    
}

@media (min-width: 600px) {
    .main {
        &__text {
            margin-bottom: 0;
        }
    }
    .results {
        &__block-inner {
            flex-direction: row;
            justify-content: space-between;
        }
        &__block-info {
            margin-right: 30px;
        }
        &__block-trainer {           
            min-width: 175px;
            max-height: 110px;            
            // &::before{
            //     background-size: cover;
            //     width: 50px;
            //     height: 50px;
            // }            
        }
        &__block-trainer--title {            
            padding-top: 13px;
            padding-left: 65px;
        }
        &__block-trainer--item {
            padding-left: 65px;
        }
        &__block-grid--adverts{
            justify-content: start;
        }
        &__block-grid--adv {
            margin-right: 30px;
        }
    }
}

@media (min-width: 768px) {
    body {
        @include fonts(18px, 400, 28px);
    }
    h4 {
        @include fonts(45px, 700, 55px);
    }
    h5 {
        @include fonts(30px, 700, 45px);
    }
    h6 {
        @include fonts(20px, 500, 27px);
    }
    .menu {
        &__list {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__list-link {
            @include fonts(15px, 400, 15px);            
        }
        &__list-item {
            margin: 0 10px 0 10px;
        }
    }
    .header {
        &__logo {
            display: block;
            width: auto;
        }
        &__button {
            display: inline-block;
        }
    }
    .logo {
        @include fonts(20px, 500, 36px);
        padding-left: 53px;
        &::before {
            border: 4px solid $span;
            top: -4px;
            width: 25px;
            height: 25px;
        }
        &::after {
            border: 4px solid $span;
            top: -4px;
            width: 25px;
            height: 25px;
        }
    }
    .open-btn {
        display: none;
    }
    .button {
        @include fonts(8px, 400, 35px);
        width: 100px;
        height: 35px;
    }
    .play {
        height: 35px;
        &::before {
            top: 4px;
        }
    }
    .main {
        &__title {
            @include fonts(55px, 700, 65px);
        }
        &__text {
            @include fonts(18px, 500, 30px);
            margin-bottom: 50px;
        }
    }
    .subtitle {
        font-size: 20px;
    }
    .workout {
        &__block-items {
            gap: 25px;
        }
        &__block-item--title {
            margin-left: 120px;
        }
    }
    .link-wth-arrow {
        font-size: 18px;
        &::after {
                //top: 0;
                top: calc(100% - 23px);
            }
    }
    .results {
        &__block-trainer{
            &::before {
                width: 60px;
                height: 60px;
            }
        }
        &__block-trainer--title {
            font-size: 10px;
        }
        &__block-grid {
            grid-template: 58px 122px/auto 290px;
        }
        &__block-grid--adv {
            margin-right: 15px;
        }
        &__block-grid--userpics {
            grid-row: 1/3;
            grid-column: 2/3;            
            padding: 15px;
        }
        &__block-grid--userpic-p {
            top: 122px;
            left: 179px;
        }
        
    }
    .circle {
        width: 90px;
        height: 90px;
        &__item {
            font-size: 40px;
            line-height: 48px;
        }
    }
    .clubMaster {
        &__block-item--title {
            max-width: calc(100% - 90px - 2em);
        }
        &__link-wth-arrow::after {
            top: 4px;
        }
    }
    .client {
        &__slide-inner {
            border-left: 0;
            // width: 575px;
            // left: -64px;
            width: 31.94em;
            left: -3.56em;
            padding: 0.5em 0.5em 0.5em 2.5em;
            }
        &__slide-img{
                position: absolute;
                background-color: $colorText;
                // top: 2px;
                // left: 2px;
                // width: 235px;
                // height: 216px;
                top: 0.1em;
                left: 0.1em;
                width: 12.95em;
                height: 12em;
                clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
                -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
                -moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
        }
        &__slide-user-items {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }
        .hexagon-box {
            display: block;
            position: relative;
            // width: 366px;
            // height: 218.74px;
            width: 20em;
            height: 12.15em;
            background: $span;
            box-sizing: border-box;
            clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
            -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
            -moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    
            img {
                position: absolute;
                background-color: $colorText;
                // top: 12px;
                // left: 18px;
                // width: 198px;
                // height: 191px;
                top: 0.67em;
                left: 1em;
                width: 11em;
                height: 10.61em;
                clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
                -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
                -moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
            }
        }
}

@media (min-width: 992px) { 
    .wrapper {
        background-size: 50%;
    } 
    .header {
        background-size: 50%;
    }
    .logo {
        @include fonts(30px, 600, 36px);                
        padding-left: 72px;
        &::before {
            border: 6px solid $span;
            top: -4px;
            width: 38px;
            height: 38px;
        }                
        &::after {
            border: 6px solid $span;
            top: -4px;
            width: 38px;
            height: 38px;
        }
    }
    .menu {
        &__list-link {
            @include fonts(18px, 500, 22px);
        }
    }
    .button {
        font-size: 12px;
        width: 150px;
    }  
    .main {
        &__slogan{
            display: block;
            width: 100%;            
            transform: rotate(-90deg);
            margin-right: calc(-46% + 8px);
            right: 0;
            top: -88px;
            font-size: 80px;
            line-height: 0;
        }
        &__bg{
            display: block;
            &::after {                    
                content: "";
                background: url(../img/man.png);
                position: absolute;
                background-repeat: no-repeat;
                background-size: cover;                       
                width: calc(967px + (1366 - 967) * ((100vw - 1366px) / (1920 - 1366)));                        
                height: calc(611px + (1092 - 611) * ((100vw - 998px) / (1920 - 998)));
                transform: translate(-247px, -96px);
                z-index: -1;
            }
        }
        &__inner {
            display: flex;
        }
        &__info {
            width: calc(330px + (700 - 330) * ((100vw - 700px) / (1920 - 700)));
        }
    } 
    .workout {
        &__block {
            margin-top: 140px;
        }
        &__block-content {
            flex-direction: row;
            justify-content: space-between;
        }
        &__block-items {
            grid-template-columns: repeat(4, 1fr);
        }
        &__block-item--title {
            margin-left: 90px;
        }
        &__block-btn {
            width: 150px;
            height: 35px;
            font-size: 12px;
        }
        // &__block-slogan {
        //     display: block;
        //     position: relative;
        //     left: 0;
        //     margin-left: -18px;
        // }
        // &__block-slogan--title {
        //     @include fonts(150px, 800, 100px);
        //     letter-spacing: 0.130em;
        // }
    } 
    .block {
        &__slogan {
            display: block;
            position: relative;
            left: 0;
            margin-left: -18px;
        }        
        &__slogan-title {
            @include fonts(150px, 800, 200px);
            letter-spacing: 0.130em;
        }
        &__slogan-result {
            margin: 58px 0 13px 2px;            
        }
    }
    .results {
        &__block-info {
            max-width: 721px;
        }
        &__block-slogan {
            display: block;
        }
    }
    .clubMaster{
        &__block-content--item-title {
            font-size: 48px;
            line-height: 58px;
        }
    }
}

@media (min-width: 1200px) {
    .main {
        &__button {
            font-size: 12px;
            width: 125px;
        }
        &__slogan {
            font-size: 92px;
            top: -100px;
        } 
    }
    .workout {
        &__block {
            margin-top: 200px;
            padding: 100px 82px 77px 81px;
        }
        &__block-items {
            gap: 39px;
        }
        // &__block-slogan {
        //     margin-left: -89px;
        // }
    }
    .block{
        &__slogan {
        margin-left: -89px;
        }
        &__slogan-result {
            margin-left: -6px;
        }
    }
    .results {
        &__block-trainer {
                width: 330px;
                height: 110px;                
                padding: 7px 27px 7px 20px;
                //left: 90px;
                &::before {                    
                    background-size: auto 96px;
                    width: 96px;
                    height: 96px;                    
                    top: 16px;
                }
            }
            &__block-trainer--title {
                font-size: 14px;
                line-height: 30px;              
                padding-top: 23px;
                padding-left: 115px;
            }
            &__block-trainer--item {
                @include fonts(30px, 600, 30px);
                padding-left: 115px;
            }
    }
    .clubMaster {
        &__block {
            flex-direction: row;
        }    
        &__block-items {
            margin-right: 2em;
            gap: 1.5em;
        }         
    }
    .client {
        &__block {
            position: relative;
                    &::before{
                        content: "";
                        background: url(../img/triangle-slider.png);
                        position: absolute;
                        background-repeat: no-repeat;
                        background-size: cover;
                        width: calc(219px + (439 - 219) * ((100vw - 219px) / (1920 - 219)));
                        height: calc(404px + (808 - 404) * ((100vw - 404px) / (1920 - 404)));
                        top: -2.5em;
                        left: -200px;
                    }
        }
        &__content-box {
            text-align: center;
        }
    }
}
@media (min-width: 1270px) {
    .main {
        &__slogan {
            top: -145px;
        }
    }
    .workout{
        &__block {
            margin-top: 240px;
        }
    }
    .clubMaster{
        &__block-items {
            margin-right: 3em;
        }
        &__link-wth-arrow {
            &::after {
                top: 3px;
            }
        }
    }
    .client {
        &__block {
            &::before {
                top: -3em;
            }
        }
    } 
    
}    

@media (min-width: 1430px) {
    h3 {
        @include fonts(96px, 700, 116px);
    }
    h4 {
        @include fonts(64px, 700, 82px);
    }
    h5 {
        @include fonts(48px, 700, 60px);
    }
    h6 {
        @include fonts(24px, 500, 29px);
    }
    .wrapper {
        background-size: 50% 65%;
    }
    .container {
        margin-right: 160px;
        margin-left: 160px;
    }
    .button {
        @include fonts(18px, 500, 22px);
        width: 237px;
        height: 58px;
    }
    .play {
        height: 58px;
    }
    .menu {
        &__list-item {
            margin: 0 30px 0 30px;
        }
    }
    .main {
        margin-top: 192px;
        &__slogan {
            @include fonts(144px, 800, 173px);
            top: -172px;
            margin-right: calc(-44% + 8px);
        }
        &__title{
            @include fonts(96px, 700, 116px);            
        }
        &__text{
            width: 446px;
            height: 60px;
        }
        &__button {
            width: 152px;
            height: 58px;
            font: inherit;
        }
        &__bg{
            &::after{
                transform: translate(-498px, -141px);
                width: calc(1179px + (1366 - 1179) * ((100vw - 1366px) / (1920 - 1366)));
                height: calc(1092px + (1092 - 1092) * ((100vw - 998px) / (1920 - 998)));
                }
            } 
    }
    .workout {
        &__block-btn {
            width: 237px;
            height: 58px;
            font-size: inherit;
        }
    } 
    .results {
        // &__block {
        //     &::before {
        //         //content: url(../img/bg-results-woman.png);
        //         content: "";
        //         background-image: url(../img/bg-results-woman.png);
        //         position: absolute;
        //         background-repeat: no-repeat;
        //         background-size: cover;
        //         width: calc(400px + (946 - 400) * ((100vw - 400px) / (1920 - 400)));
        //         height: calc(407px + (962 - 407) * ((100vw - 407px) / (1920 - 407)));
        //         left: 573.85px;
        //         top: -123px;
        //         z-index: 1;
        //     }            
        //     &::after {
        //         content: url(../img/bg-results-square.png);
        //         position: absolute;
        //         background-repeat: no-repeat;
        //         left: 997px;
        //         top: -696px;
        //         z-index: -1;
        //     }
        // }
       &__block-grid {
            grid-template: 58px 122px/auto 342px;
       }
       &__block-grid--btn-play{
        &::before {
            top: 16px;
        }
       }
       &__block-grid--userpics {
            padding: 30px;
       }
       &__block-grid--userpic-p {
        top: 133px;
        left: 190px;
       }
    } 
    .clubMaster {
        &__block-item {
            padding: 30px;
        }
        &__block-item--title {
            text-align: center;
            max-width: 100%;
            margin-left: 0;
        }
        &__block-btns {
            align-items: center;
        }
        &__block-btn {
            margin-bottom: 0px;
        }
    }
    .circle-wrap {
        display: none;
    }
        .client {
            &__block {
                &::before {
                    width: 439px;
                    height: 808px;
                    top: -1.5em;
                }
            }
            &__slide-box {
                min-width: 100%;
            }
    
            &__slide-img {
                top: 2px;
                left: 1px;
                width: 99%;
                height: 99%;                
            }
    
            &__slide-inner {
                left: -5.79em;
                padding: 1em 0.5em 0.5em 6.5em;
            }
    
            &___slide-info {
                margin-bottom: 30px;
            }
    
            &__slide-text {
                @include fonts(24px, 500, 38px);    
                &::before {
                    top: -30px;
                }
            }
    
            &__slide-user-items {
                justify-content: space-between;
                margin: 0 40px;
            }
    
            &__slider-control {
                gap: 150px;
                margin-top: 72px;
            }
        }
    .hexagon-box {
        width: 420px;
        height: 377.72px;        
        img {
            top: 8px;
            left: 10px;
            width: 95%;
            height: 95%;
        }
    }
}

@media (min-width: 1600px) {
    .circle-wrap {
        display: inline-block;
    }
    .clubMaster {
        &__block-item {
            padding: 1em;
        }
        &__block-item--title {
            max-width: calc(100% - 90px - 2em);
            margin-left: 20px;
            text-align: left;
        }
    }
    .client {
        &__slide-inner {
            padding: 3em 1.5em 1.5em 6.5em;
            width: 39.94em;
        }
        &__slide-user-items {
            flex-direction: column;
            align-items: start;
        }
    }
}

@media (min-width: 1740px) {
    .workout {
        &__block-item {
            padding: 51px 38px 30px 30px;
        }
        &__block-item--text {
            margin-bottom: 40px;
        }
        // &__block-slogan {
        //     margin-left: -90px;
        // }
        // &__block-slogan--title{
        //     @include fonts(216px, 800, 261px);
        //     letter-spacing: 0.145em;
        // }
    }
    .block {
        &__slogan-title {
                @include fonts(216px, 800, 261px);
                letter-spacing: 0.145em;
            }
    }
    .results {
        &__block {
            &::before {
                    //content: url(../img/bg-results-woman.png);
                content: "";
                background-image: url(../img/bg-results-woman.png);
                position: absolute;
                background-repeat: no-repeat;
                background-size: cover;
                width: calc(400px + (946 - 400) * ((100vw - 400px) / (1920 - 400)));
                height: calc(407px + (962 - 407) * ((100vw - 407px) / (1920 - 407)));                
                right: 0;
                margin: -160px;
                top: 28px;
                z-index: 1;
            }            
            &::after {                
                content: "";
                background-image: url(../img/bg-results-square.png);
                position: absolute;
                background-repeat: no-repeat;
                background-size: cover;
                width: calc(500px + (763 - 500) * ((100vw - 500px) / (1920 - 500)));
                height: calc(1360px + (2073 - 1360) * ((100vw - 1360px) / (1920 - 1360)));
                right: 0;
                margin-right: -160px;
                top: -696px;
                z-index: -1;
            }
        }
        &__block-box {
            &::before {
                    content: url(../img/bg-results-square-dark.png);
                    position: absolute;
                    background-repeat: no-repeat;
                    right: 0;
                    margin-right: -160px;
                    top: -324px;
                    z-index: 2;
                }
        }
        &__block-info {
            margin-right: 369px;
        }
        &__block-trainer {
            left: 90px;
        }
        &__block-grid {
            grid-template: 58px 122px/568px 342px;
            gap: 80px;
        }
        &__block-grid--userpics-text {
            margin-bottom: 30px;
        }
        &__block-grid--userpic-p {
            top: 152px;
        }
    }
    .clubMaster {
        &__block-items {
            margin-right: 6em;
        }
        &__block-item {
            padding: 1.8em;
        }
    }
    .client {
        &__slide-inner {
            padding: 3em 3.5em 2em 6.5em;
            width: 46em;
        }
        &__slide-text {
            &::before {
                left: 0;
            }
        }
    }
}

@media (min-width: 1780px) {
    .main {
        &__slogan {
            top: -260px;
        }
        &__bg {
            &::after {
                transform: translate(-421px, -262px);
            }
        }
    }
}

@media (min-width: 1914px) {
    .menu {
        margin-right: 229px;        
    }    
    .logo{
        margin-right: 266px;
    }
    .main {
        &__slogan {
            width: 802px;
            left: 1431px;
            top: 208px;
        }
        &__info {
            &::before {
                content: url(../img/wave.png);
                background-repeat: no-repeat;
                position: absolute;
                width: 1920px;
                height: 415px;
                left: -199.53px;
                top: 83px;
                transform: rotate(-1.73deg);
            }
        }
        &__bg {
            &::after {
                content: url(../img/man.png);                        
                background: linear-gradient(115deg, rgba(255, 229, 245, 1) 29%, rgba(255, 254, 251, 1) 88%);
                width: 1366px;
                height: 1092px;
                left: -308px;
                top: -260px;
                transform: none;                        
            }
        }
    }
    .client {
        &__block {
            &::before {
                top: 45px;
            }
        }
        &__content-box {
            margin-bottom: 20px;
        }
        &__content-box-text {            
            margin: 20px 550px 102px;
        }
        &__slide-inner {                     
            width: 49em;
        }        
        &___slide-info{
            margin-bottom: 30px;
        }
        &__slide-text {                      
            &::before {
              top: -30px;
            }
        }
        &__slider-control {
            gap: 150px;
            margin-top: 72px;
        }
    }    
}







